@mixin labelFont() {
  font-size: 20px;
  font-weight: 500;
}

@mixin headerFont() {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

@mixin cardBorder() {
  border: 2px solid;
  border-radius: 10px;
}

.container {
  padding: 30px;
}

.card {
  &__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include headerFont();
  }

  &__priority {
    text-align: right;
  }


  &__row {
    display: flex;
    width: 100%;
  }

  &__col {
    width: 50%;
    padding: 1%;
  }
}

.macro {}

.macro-body {}

.micro-body {
  padding: 5px;
  // font-display: block;

  &__row {
    border-top: 2px solid;
    padding-top: 15px;
  }

  &__date {
    text-align: center;
  }

  &__description {
    margin-top: 5px;
    width: 100%;
  }
}



.card {
  width: 450px;
  @include cardBorder();

  padding: 30px;
  font-size: 15px;

  &__header {
    @include headerFont();
    margin-bottom: 15px;
  }

  &__body {
    display: flex;
  }

  &__input {
    margin-top: 5px;
  }

  &__submit {
    text-align: right;

    button {
      width: 100px;
    }
  }
}
