.container {
  background-color: #DED4C0;
  padding: 50px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 440px);
  justify-content: space-around;
  grid-gap: 30px;
}

//   .item-card {
//     height: 200px;
//     width: 240px;

//     text-align: center;

//     &__header {
//       font-size: 25px;
//     }

//     &__description {
//       margin-top: 20px;
//       text-align: left;
//       overflow-wrap: break-word;
//     }

//   }

a {
  text-decoration-line: none;
}

a:link {
  color: black;
}

a:active {
  color: black;
}
